<%- include("navbar") -%>



        <!-- <iframe id="iframe" title="prayerWidget" class="widget-m-top" style=" height: 358px; border: 1px solid #ddd;" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/<%= keyLocation %>/shafi/3/0/18.0/18.0"> </iframe> -->
        
        
        <h4>Salah Timings for <%= keyPrayerDetails.location %></h4>
        <h5><%= keyPrayerDetails.hijriDate %></h5>
        <h5><%= keyPrayerDetails.date %></h5>
        <br>
    <table class="table table-hover table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Prayer</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% keyPrayerDetails.prayerTimes.forEach(function(prayer) { %>
                <tr>
                    <td><%= prayer.timeType %></td>
                    <td><%= prayer.time %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
        
    <br>

        <form action="/location" method="post">
              <div class="form-floating">
                  <select name="location" id="location" required class="form-control" placeholder="Choose your Location">
                    <option value="" disabled selected hidden>Choose your Location</option>
                    <option value="Coimbatore">Coimbatore</option>
                    <option value="Hosur">Hosur</option>
                    <option value="Salem">Salem</option>
                    <option value="Ramanathapuram">Ramanathapuram</option>
                    <option value="Bengaluru">Bengaluru</option>
                    <!-- <option value="others">others</option> -->
                  </select>
                  <label for="location">Location</label>
              </div>
              <!-- <div class="form-floating">
                <select name="salah_value" id="value" required class="form-control" placeholder="Enter the salah value">
                  <option value="In Jamath">In Jamath</option>
                  <option value="On Time">On Time</option>
                  <option value="Late">Late</option>
                  <option value="Not Prayed">Not Prayed</option>
                  <option value="others">others</option>
                </select>
                <label for="value">Value</label> -->
            </div>
          
              <div class="new-task">
                <button type="submit" class="add btn btn-primary" value="add" name="add">Save</button>
              </div>
        </form>
        

    </body>
</html>