<%- include("navbar") -%>




        <!-- <iframe id="iframe" title="prayerWidget" class="widget-m-top" style=" height: 358px; border: 1px solid #ddd;" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/<%= keyLocation %>/shafi/3/0/18.0/18.0"> </iframe> -->

        <form action="/salah" method="post">
            <div class="form-floating">
              <input class="form-control" type="date" required id="date" name="date"">
              <label for="date">Date</label>
            </div>
            <!-- TO display todays date by default -->
            <script>
              const today = new Date().toISOString().split("T")[0];
              document.getElementById("date").value = today;
            </script>

              <div class="form-floating">
                  <select name="salah_name" id="salah" required class="form-control" placeholder="Enter the salah name">
                    <option value="Fajr">Fajr</option>
                    <option value="Zuhur">Zuhur</option>
                    <option value="Asar">Asar</option>
                    <option value="Magrib">Magrib</option>
                    <option value="Isha">Isha</option>
                    <option value="others">others</option>
                  </select>
                  <label for="salah">Salah</label>
              </div>
              <div class="form-floating">
                <select name="salah_value" id="value" required class="form-control" placeholder="Enter the salah value">
                  <option value="In Jamath">In Jamath</option>
                  <option value="On Time">On Time</option>
                  <option value="Late">Late</option>
                  <option value="Not Prayed">Not Prayed</option>
                  <option value="others">others</option>
                </select>
                <label for="value">Value</label>
            </div>
          
              <div class="new-task">
                <button type="submit" class="add btn btn-primary" value="add" name="add">Save</button>
              </div>
        </form>
        
        <br>
        <hr>

        <h4>Salah On</h4>

        <form action="/salah" method="get">
          <div class="form-floating">
            <input class="form-control" type="date" required id="date" name="date"">
            <label for="date">Date</label>
          </div>
          <div class="new-task">
            <button type="submit" class="add btn btn-primary">Find</button>
          </div>
        </form>

        <br>
        <br>
        <h5><%= keyDate %></h5>
        <br>

        <% if(keySalah.length>0){ %>
          <table class="table table-hover table-striped">
            <thead class="table-light">
              <tr>
                <th>Name</th>
                <th>Value</th>
                <!-- <th>Reason</th> -->
              </tr>
           </thead>
           <tbody>
              <% keySalah.forEach(function(salah) { %>
                <tr>
                  <td><%= salah.name %></td>
                  <td><%= salah.value %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% }else{ %>
          <p>No salah found</p>
        <% } %>
        <br>

    </body>
</html>